@keyframes slide{

	0%{
		right: -100px;
		opacity: 0;
	}

	100%{
		right: 0;
		opacity: 1;
	}
}

.caroussel{

	width: 65%;
	margin: auto;
	margin-top: 5%;
}

.caroussel img{

	width: 100%;
	height: 100%;

}

.mySlides {

	position: relative;
	display:none;
	animation: slide 1s;
}

