@charset("UTF-8")

html{
	overflow-x: hidden;
}

.header-content{
	
/*	position: fixed !important;
	width: 20%;
	height: 100%;
	z-index: 1;
	background-color: black;
	top:0;
	left:0;
	overflow: hidden;
	box-sizing: inherit;
	margin: 0 auto;*/

  height: 100%;
  min-width: 280px;
  max-width: 300px;
  min-height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #BAEFC5;
  overflow-x: hidden;
  padding-top: 20px;

}

#main-menu > li{

	list-style:none; 
	text-align: left;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 40px;
	padding-top: 15px;
	display:block;


}


a {

	text-decoration: none;
	color: #00346d;

}

#main-menu > li:hover > a{

	color:grey;

}



#logo a > img{

	height: 220px;
	width: 230px;

	display: block;
	background-repeat: no-repeat;
	margin-left: 20px;

}
