/* *{ */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	left: 0; */
/* } */

.topLayout{

	position : relative;
	display: flex;
	align-items: center;
	max-width: 2300px;
	margin: 0 auto;
	min-height: 5.375rem;
	justify-content: space-between;
	background: white;

}

.logoArea{

	position: relative;
	z-index: 2;
	display: flex;
	width: 50%;
}

/**/
.logoArea > a > img {

	width: 20%;
	left: 0;
	cursor : pointer;
}
 /**/

.menuLayout{


}

.menuLayout > a{

	text-decoration: none;
  	color: black;

}

.rightLayout{

	float: right;
	padding-right: 100px;

}

.rightLayout > a {

	text-decoration: none;
  	color: black;

}

.comment{
	line-height: 50px;
}
