.contentLayout{

	position : relative;
	display: flex;
	align-items: center;
	max-width: 2300px;
	margin: 0 auto;
	min-height: 90vh;
	justify-content: space-between;
	background: orange;

	box-sizing: border-box;

}

.listLayout{
	margin: auto;
}

.TDimg{

}

.TDimg > div > img{

	width: 10%;
}

table, th, td {
	border: 1px solid black;
}