/* AJOUT LA */
html{
	background: #FFEFBA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	overflow-x: hidden;
}

.text{
	
	color: white;
	font-size: 36px;
	text-shadow: 0 0 2px black;

}
/* ************ */

.main-content{

	margin-left: 300px; /* Same as the width of the sidenav */
	padding: 0px 10px;

}	

.content-layout{

	position : relative;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;

	box-sizing: border-box;

}

.listLayout{
	margin: auto;
}

.TDimg{

}

.TDimg > div > img{

	width: 15em;
}

table{

	border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table, th, td {
	border: 1px solid black;

}

thead tr{
	background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
	 padding: 12px 15px;
}

tbody tr{
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

tbody tr:last-of-type{
	 border-bottom: 2px solid #009879;
}

 tbody tr.active-row{
 	 font-weight: bold;
    color: #009879;
 }

 .voitureImg{ 
 	text-align: center;
 }

 .voitureActions {
 	text-align: center;
 }

.return-button {

	text-decoration: none;
	margin: 0 auto;
	min-height: 25px;
	width: 150px;
	text-align: center;
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;

	cursor: pointer;
}

.return-button:hover{

	background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
}

.return-button:active{

	background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
}

/*CECI EST POUR LA BOITE DE DIALOGUE*/
#boite_dialog{
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
}

#boite_dialog div{
	width:350px;
	height: 80px;
	margin: 100px auto;
	background-color: #f2f2f2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius:  10px;
	border:1px solid #666666;
	padding:15px;
	text-align:center;
	font-weight: bold;
	font-size: 15px;
	border: 3px solid #cccccc;
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#boite_dialog_yes{
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
}

#boite_dialog_yes div{
	width:350px;
	height: 150px;
	margin: 100px auto;
	background-color: #f2f2f2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius:  10px;
	border:1px solid #666666;
	padding:15px;
	text-align:center;
	font-weight: bold;
	font-size: 15px;
	border: 3px solid #cccccc;
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#boite_dialog_button{
	margin : auto;
	text-align: center;
	left: 50%;
}


.hide {
  display: none;
}

.rating {
	margin: auto;
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}


/*JUSQU'A ICI*/