/*AJOUT LA */

html{
	background: #FFEFBA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	overflow-x: hidden;
}

.text{
	
	color: white;
	font-size: 36px;
	text-shadow: 0 0 2px black;

}

/* *********************** */

.main-content{

	margin-left: 300px; /* Same as the width of the sidenav */
	padding: 0px 10px;

}	

.content-layout{

	position : relative;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;

	box-sizing: border-box;

}

.listLayout{
	margin: auto;
}

.TDimg{

}

.TDimg > div > img{

	width: 15em;
}

table{

	border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table, th, td {
	border: 1px solid black;

}

thead tr{
	background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
	 padding: 12px 15px;
}

tbody tr{
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

tbody tr:last-of-type{
	 border-bottom: 2px solid #009879;
}

 tbody tr.active-row{
 	 font-weight: bold;
    color: #009879;
 }

 .voitureImg{ 
 	text-align: center;
 }

 .voitureActions {
 	text-align: center;
 }

.achat-button {

	text-decoration: none;
	margin: 0 auto;
	min-height: 25px;
	width: 150px;
	text-align: center;
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;

	cursor: pointer;
}

.achat-button:hover{

	background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
}

.achat-button:active{

	background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
}